* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

#header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-bar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

#nav-bar li {
  margin-left: 25px;
}

#nav-bar a {
  color: #000;
  font-size: 1.1em;
  text-decoration: none;
}

main {
  padding-top: 60px;
}

.bannerDiv {
  background-image: url(images/plate.jpg);
  background-position: center;
  background-size: cover;
  height: 523px;
}

h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
  padding-top: 13%;
  text-align: center;
}

main p {
  font-size: 1.5em;
  font-style: italic;
  margin-top: 120px; 
  text-align: center;
}

main h2 {
  margin: 120px 0 40px 0;
  text-align: center;
}

#productContainer {
  display: flex;
  justify-content: space-evenly;
}

#productContainer .product {
  align-items: center;
  border: 1px solid black;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.product h3 {
  background-color: #2A5E90;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

.product .productImage {
  /* background-color: #9FAAA4; */
  padding: 20px;
  width: 100%;
}

.product h4 {
  background-color: #3d353d;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

#video {
  border: none;
  display: block;
  margin: auto;
  max-width: 560px;
  width: 100%;
}

#form {
  font-size: 1.5em;
  margin: 150px 0;  
  text-align: center;
}

#email {
  width: 300px;
  padding: 8px 16px;
  margin-top: 20px;
  font-size: .60em;
}

#submit {
  padding: 10px 16px;
  background-color: #2A5E90;
  color: #fff;
  font-size: .60em;
  /* fixes submit input not displaying correctly on mobile */
  -webkit-appearance: none;
  border-radius: 0;
}

#submit:hover {
  background-color: #255481;
}

footer {
  background-color: #3d353d;
  text-align: center;
  color: #fff;
  font-size: .85em;
}

footer p {
  padding: 10px;
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  h1 {
    padding-top: 17%;
  }
  #productContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 1050px;
  }
  #nav-bar ul {
    margin: 8px 0;
  }
}

@media (max-width: 768px) {
  h1 {
    padding-top: 24%;
  }
  #header {
    grid-template-columns: 1fr;
    padding: 0;
    justify-items: center;
  }
}

@media (max-width: 425px) {
  #header-img {
    width: 66%;
    height: auto;
  }

  #nav-bar {
    width: 100%;
  }

  #nav-bar ul {
    justify-content: space-around;
  }

  #nav-bar li {
    margin: 0;
  }

  #nav-bar a {
    font-size: .90em;
  }

  h1 {
    padding: 45% 5px;
    font-size: 3em;
  }

  main {
    padding: 0 2px;
  }

  main p {
    margin: 50px 0;
  }

  main h2 {
    margin-top: 65px;
  }

  #video {
    width: 100%;
    padding: 0 5px;
  }

  #form {
    padding: 0 3px;
    margin: 75px auto;
    font-size: 1.3em;
  }

  #email {
    width: 90%;
    margin-bottom: 15px;
  }

  #submit {
    width: 90%;
    font-size: .80em;
  }
}